body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    word-spacing: 10px;
    color: white;
    background-image: url('../img/bg.png');
}

#canvas {
    border: 4px solid white; 
    display: block;
    position: absolute;
    z-index: 2;
    top: 250px;
    margin: auto;
}

#loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
}

#count-down {
    display: block;
    margin: auto;
    width: 40%;
}

#message, #winner {
    font-size: 32px;
    animation: blink-animation 1s steps(5, start) infinite; /* Blinking effect */
    z-index: 2;
    margin: 0;
}

#img {
    width: 48%;
}

#winner {
    display: none;
}

#info {
    font-size: 32px;
    text-align: 32px;
    display: none;
    margin: 0;
}

.countdown-message {
    text-align: center;
}

.loading-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.control-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.control {
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 120px;
}

.control-image {
    height: 50px;
    width: 50px;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}